node.function {
	shape: diamond;
	size: 15px, 15px;
	fill-mode: plain;   /* Default.          */
	fill-color: gray;    /* Default is black. */
	stroke-mode: plain; /* Default is none.  */
	stroke-color: #666666; /* Default is black. */
	text-alignment: at-right;
}

node.generativeDistribution {
	shape: box;
	size: 15px, 15px;
	fill-mode: plain;   /* Default.          */
	fill-color: gray;    /* Default is black. */
	stroke-mode: plain; /* Default is none.  */
	stroke-color: #666666; /* Default is black. */
	text-alignment: at-right;
}

node.randomVariable {
 	shape: circle;
 	size: 50px, 50px;
 	fill-mode: plain;   /* Default.          */
 	fill-color: #66FF66;    /* Default is black. */
 	stroke-mode: plain; /* Default is none.  */
 	stroke-color: green; /* Default is black. */
 }

node.functionValue {
 	shape: diamond;
 	size: 50px, 50px;
 	fill-mode: plain;   /* Default.          */
 	fill-color: #FF6666;    /* Default is black. */
 	stroke-mode: plain; /* Default is none.  */
 	stroke-color: red; /* Default is black. */
}

 node.constant {
 	shape: circle;
 	size: 50px, 50px;
 	fill-mode: plain;   /* Default.          */
 	fill-color: white;    /* Default is black. */
 	stroke-mode: plain; /* Default is none.  */
 	stroke-color: black; /* Default is black. */
 }

 edge {
    arrow-size: 6px, 3px;
    arrow-shape: arrow;
 }