# latex
manuscript/**/*.aux
manuscript/**/*.bbl
manuscript/**/*.blg
manuscript/**/*.out
manuscript/**/*.synctex.gz
manuscript/**/*.fdb_latexmk
manuscript/**/*.fls
manuscript/**/*.lof
manuscript/**/*.log
manuscript/**/*.lot
manuscript/*.pdf
manuscript/**/*.pyg
manuscript/manuscript_diff*.tex

# IntelliJ
.idea
*.iml

# output files
*.log
*.nexus
*.trees

# build files
.gradle
**/build/**
*.class
**/target/**

# macOS Files
**/.DS_Store

# R
**/*.Rproj
**/.Rproj.user
**/.Rhistory
**/.RData

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.Rproj.user
